.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.todoHeader{
  font-size: 40px;
}

.renderTodoList{
  margin: 0 ,auto;
  padding: 10px;
}

.centerAll{
  text-align: center;
}

.addEmployeeForm{
  margin: 0px 10px 10px 10px;
}

.labelHeader{
  padding:5px 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
